.gradient{
    background-image: linear-gradient(to top,blue,aqua,white);
    height: 550px;
}
.gradient{
    background-image: linear-gradient(to left,blue,aqua,white);
    height: 550px;
}
.gradient{
    background-image: linear-gradient(to bottom,blue,aqua,white);
    height: 550px;
}
.gradient{
    background-image: radial-gradient(to top,blue,aqua,white);
    height: 550px;
}